{% load umairabbasi_tags wagtailcore_tags %}

<ul class="dropdown-menu">
    {# Include link to parent because the parent link is a drop down #}
    <li><a href="{% pageurl parent %}">{{ parent.title }}</a></li>
    {% for child in menuitems_children %}
        <li><a href="{% pageurl child %}">{{ child.title }}</a></li>
    {% endfor %}
</ul>