{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{{ self.title.lower }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ self.title }}</h1>
                {% for block in page.body %}
                    <div class="row my-4">
                        <div class="col-md-offset-1 col-md-2">
                            <figure>
                                <a target="_blank" title="{{ block.value.title }}" href="{{ block.value.link }}">{% image block.value.image width-750 class="img-responsive" %}</a>
                            </figure>
                        </div>
                        <div class="col-md-8">
                            <h5>{{ block.value.title }} <small><a target="_blank" title="{{ block.value.title }}" href="{{ block.value.link }}">{{ block.value.link }}</a></small></h5>
                            <p>{{ block.value.description }}</p>
                        </div>
                    </div>
                    <hr/>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}