{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <article>
                    {% include "includes/streamfield.html" with content=self.body %}
                </article>
            </div>
        </div>
    </div>
{% endblock %}
