{% extends "base.html" %}

{% load umairabbasi_tags wagtailcore_tags wagtailimages_tags %}

{% block body_class %}blog-post{% endblock %}

{% block content %}
    {% for block in page.body %}
        {% if block.block_type == 'hero_image' %}
            {% include_block block %}
        {% endif %}
    {% endfor %}
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <article>
                    <h1>{{ self.title }}</h1>
                    <p class="small text-muted">Posted by <a target="_blank" href="https://plus.google.com/108981224841144081190?rel=author">{{ self.author.first_name }} {{ self.author.last_name }}</a> on {{ self.date }}        
                    {% if self.categories.all %}
                        in 
                        {% for cat in self.categories.all %}
                            <span style="text-transform: lowercase;">{{ cat.category.name }}</span> {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                    </p>
                    <hr style="margin-top: 0;">

                    {% for block in page.body %}
                        {% if block.block_type != 'hero_image' %}
                            {% include "blog/streamfield.html" with child=block %}
                        {% endif %}
                    {% endfor %}
                </article>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-12 offset-md-1 col-md-10">
                {% flickr_photosets self.flickr_photoset_id %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {% if self.tags.all %}
                    <hr style="margin-top: 0; margin-bottom: 10px; clear: both;">

                    <div class="small .text-muted">    
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        {% for tag in self.tags.all %}
                            {{ tag }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}        
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mt-4">
                <h3 class="text-uppercase">Other Good Reads</h3>
            </div>
            {% for post in recent_posts %}
                {% if post.title == self.title %}
                {% elif forloop.counter <= 4 %}
                    <div class="col-md-4">
                        {% for block in post.body %}
                            {% if block.block_type == 'hero_image' %}
                                {% image block.value.image fill-540x229-c100 as heroimage %}
                                <a href="{{ post.url }}"><img class="mb-2 img-fluid" src="{{ heroimage.url }}" alt="{{ block.value.alternate_text }}"/></a>
                            {% endif %}
                        {% endfor %}

                        <h5 class="mb-0 text-uppercase">{{ post.title }}</h5>
                        <p><small>{{ post.date }}</small></p>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="col-12">
                <hr>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12">
                <h2 class="mb-4 text-uppercase">Comments</h2>
                <div id="disqus_thread"></div>
                    <script>
                        var disqus_config = function () {
                        this.page.url = 'http://www.umairabbasi.com{{ self.url }}';  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = '{{ self.id }}-{{ self.date|date:"mdy" }}-{{ self.slug }};'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                        };

                        (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = '//umairabbasi.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>
            </div>
        </div>
    </div>
{% endblock %}