<div class="row">
    <div class="col-xs-12 col-md-6">
       {% include "includes/streamfield.html" with content=self.left_column only %}
    </div>
    <div class="col-xs-12 col-md-6">
       {% include "includes/streamfield.html" with content=self.right_column only %}
    </div>
</div>