@import '../node_modules/bootstrap/scss/bootstrap';


body {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 18px;
    color: #4E4D4A;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    color: #403F3C;
}

h1 {
    text-transform: uppercase;
}

a {
    color: #428bca;
}

.bg-dark {
    background-color: #4e4d4a !important;
}
.text-muted {
    color: #999 !important;
}

.assistive-text { /*For accessibility to skip navigation*/
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.btn-label { /*To hide empty links on social media links*/
    font-size: 0;
    height: 1px;
    overflow: hidden;
}

/*Extends images entered via rich text as fluid for mobile responsiveness*/
.richtext-image {
    @extend .img-fluid;
}
.richtext-image.left {
    @extend .float-left;
}
.richtext-image.right {
    @extend .float-right;
}
/* Extends images added via the image field for mobile responsiveness*/
figure img {
    @extend .img-fluid;
}

.responsive-object {
    display: block;
    padding: 0;
    height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s; 
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* ==========================================================================
  HEADER
   ========================================================================== */

/* Navigation */
.navbar {
    padding: 0;
    li {
        &.active {
            a {
                background-color: #b94a48 !important;
            }
        }
    }
    a {   
        text-transform: uppercase;
        color: #fff !important;
        &.navbar-brand {
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            background-color: #235789;
            color: #fdfffc;
            text-shadow: none;
            text-transform: uppercase;
            padding: 0.5rem 0.9rem;
        }
        &.nav-link {
            padding: 0.5rem 0.9rem !important;
        }
        &:hover {
            background-color: #b94a48;
        }
    }
}
.navbar-default .navbar-toggle {
  border-color: #b94a48;
}


/* ==========================================================================
  CONTENT
   ========================================================================== */
/* Figure */
figure {
    img {
        width: 100%;
        height: auto;
    }
    figcaption p {
        font-size: 12px;
        &:before {
            content: "Caption: ";
            font-weight: bold;
        }
    }  
}

.flickr {
    margin: 12px;
}


/* ==========================================================================
    FOOTER
   ========================================================================== */
footer {
    background-color: #403F3C;
    overflow: hidden;
    div {
        &.text-right {
            ul {
                list-style: none;
                li {
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    ul {
        padding: 0;
        li {
            svg {
                color: #fff;
                &:hover {
                    color: #b94a48;
                }
            }
            a {
                color: #2790b0;
                &:hover {
                    color: #fff;
                }
            }
            &.copyright {
                color: #b94a48;
                font-size: 14px;
            }
        }
    }
}

/* ==========================================================================
   STYLEGUIDE
   ========================================================================== */
code {
    white-space: normal;
}
.codeColor {
    margin: 30px 0;
    code {
        &.swatchFooterGrey {
            background-color: #403F3C;
            padding: 20px;
            color: #fff;
        }
        &.swatchDarkGrey {
            background-color: #4E4D4A;
            padding: 20px;
            color: #fff;
        }
        &.swatchDarkBlue {
            background-color: #2B4E72;
            padding: 20px;
            color: #fff;
        }
        &.swatchBlue {
            background-color: #2790B0;
            padding: 20px;
            color: #fff;
        }
        &.swatchRed {
            background-color: #B94A48;
            padding: 20px;
            color: #fff;
        }
        &.swatchGrey {
            background-color: #999999;
            padding: 20px;
            color: #fff;
        }
        &.swatchLightGrey {
            background-color: #E6E6E6;
            padding: 20px;
            color: #fff;
        }
    }
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* Large desktop */
@media (min-width: 1200px) {  }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    header {
        .nav-link {
            padding: 0.5rem 1rem !important;
        }
    }
    footer ul {
        text-align: center;
    }
    article .blogListing ul {
        padding: 0;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
/* ==========================================================================
  BLOG
   ========================================================================== */
    .blog-index {
        article {
            margin-bottom: 24px;
            border-bottom: 2px solid #000;
        }
    }
}